body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header,
main,
footer {
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
}
header{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
}
header>img{
    height: 40px;
    width: 100px;
    object-fit:contain;
    object-position: left;
}
nav{
    display: flex;
    gap: 30px;
}
nav>a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;    
}
nav>a:hover{
    text-decoration: underline;
}

main{
    display: flex;
    align-items: center;
    gap: 20px;
    display: flex;
    margin-bottom: 40px;
}
div{
    width: 40%;
}
h1{
  font-weight: bold;
  font-size: 45px;
}
span{
    display: block;
    font-weight: lighter;
}
p{
  color: gray;
  font-weight: lighter;
  font-size: 14px;
}
div>a{
    background-color: #662c8c;
    border: #662c8c 2px solid;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    margin: 0.5em;
    margin-left: 0;
    font-size: 14px;
    line-height: 1em;
    padding: 1em;
    border-radius: 1.6em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    
}
div>a:hover{
    background-color: rgb(255, 255, 255);
    color: #662c8c;
}
main>img{
    width: 60%;

}
footer{
    background-color: coral;
}
